body {
    background-color: blanchedalmond;
}

header, main, footer {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    border-bottom: 3px solid #3f586f;
}

h1, h2 {
    color: #20245f;
}

nav {
    margin: 15px 0;
}

footer {
    text-align: center;
    font-size: 0.95rem;
    margin-top: 20px;
}

figure {
    text-align: center;
}

figure img {
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
}

figcaption,
cite {
    font-style: italic;
}

blockquote {
    border-top: 2px solid #20245f;
    border-bottom: 2px solid #20245f;
    padding-bottom: 25px;
    text-align: center;
    margin: 25px;
}

#landing-text {
    text-align: center;
}