<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/jgutie17/">UNCC Webspace</a> &#9553;
        <a href="https://github.com/j0ramis" target="_blank">Github</a> &#9553;
        <a href="https://j0ramis.github.io/" target="_blank">Github.io</a> &#9553;
        <a href="https://j0ramis.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages</a> &#9553;
        <a href="https://www.codecademy.com/profiles/Jorrin.G" target="_blank">Codecademy</a> &#9553;
        <a href="https://www.freecodecamp.org/jorring/" target="_blank">freeCodeCamp</a> &#9553;
        <a href="https://www.linkedin.com/in/jorringutierrez/" target="_blank">LinkedIn</a>
    </nav>

    <p>
        Designed by <a href="gutierrezdesign.com/">Gutierrez Design, Inc.</a> ©<span id="current-year">2026</span>
    </p>

    <a id="validation-link-html" href="https://validator.w3.org/check?uri=referer" target="_blank">Validate HTML</a> &#9553;

    <a id="validation-link-css" href="https://jigsaw.w3.org/css-validator/check/referer"
    target="_blank">Validate CSS</a>
</footer>