<header>
    <h1>Jorrin Gutierrez's Jolly Gator | ITIS 3135 Home</h1>
    <nav>
        <a href="./">Home</a> &#9553;
        <a href="introduction.html">Introduction</a> &#9553;
        <a href="contract.html">Contract</a> &#9553;
        <a href="about.html">About</a>
    </nav>

        
    <h2>Projects</h2>
    <nav>
        <a href="gutierrezdesign.com/">Design Firm</a> &#9553;
        <a href="stuff/CRAPpy Pag3$.htm">CRAPpy Page</a> &#9553;
        <a href="../">Personal Page</a> 
    </nav>
</header>