<header>
    <h1>Jorrin Gutierrez's Jolly Gator | ITIS3135</h1>

    <p><em>ITIS 3135 Course Site</em></p>

    <nav class="primary-bar">
        <a href="./">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="contract.html">Contract</a> |
        <a href="about.html">About</a> |
        <a href="survey.html">Survey</a>  |
        <a href="cards.html">Cards</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="documentation.html">Documentation</a> |
        <a href="product.html">Product</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="pictures.html">Pictures</a> |
        <a href="introduction_form.html">Introduction Form</a>
    </nav>

    <nav class="secondary-bar">
        <a href="gutierrezdesign.com/">Design Firm</a> |
        <a href="stuff/CRAPpy Pag3$.htm">CRAPpy Page</a> |
        <a href="../">Personal Page</a> |
        <a href="hobby/">Hobby Page</a>
    </nav>
</header>