<header>
    <h1>Jorrin Gutierrez's Jolly Gator | ITIS 3135 Home</h1>
    <nav>
        <a href="./">Home</a> &#9553;
        <a href="introduction.html">Introduction</a> &#9553;
        <a href="contract.html">Contract</a> &#9553;
        <a href="about.html">About</a> &#9553;
        <a href="instructions.html">Instructions</a> &#9553;
        <a href="gallery.html">Gallery</a> &#9553;
        <a href="inventory.html">Inventory</a> &#9553;
        <a href="survey.html">Survey</a>  &#9553;
        <a href="highlight.html">Highlight</a> &#9553;
        <a href="website_evaluations.html">Website Evaluations</a>
    </nav>

        
    <h2>Projects</h2>
    <nav>
        <a href="gutierrezdesign.com/">Design Firm</a> &#9553;
        <a href="stuff/CRAPpy Pag3$.htm">CRAPpy Page</a> &#9553;
        <a href="../">Personal Page</a> &#9553;
        <a href="hobby/">Hobby Page</a>
    </nav>
</header>